[submodule "neural_renderer"]
	path = neural_renderer
	url = https://github.com/benjiebob/neural_renderer
[submodule "smal_fitter/BADJA"]
	path = smal_fitter/BADJA
	url = https://github.com/benjiebob/BADJA
[submodule "smal/smpl"]
	path = smal/smpl
	url = https://github.com/benjiebob/smpl
