[submodule "smal_fitter/BADJA"]
	path = data/BADJA
	url = https://github.com/benjiebob/BADJA
[submodule "data/StanfordExtra"]
	path = data/StanfordExtra
	url = https://github.com/benjiebob/StanfordExtra
[submodule "data/SMALST"]
	path = data/SMALST
	url = https://github.com/silviazuffi/smalst
